@import url('https://fonts.googleapis.com/css2?family=Nabla&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Nabla&family=Press+Start+2P&display=swap');
* {
  margin: 0;
  padding: 0;
  text-decoration: none;
}
:root {
  font-family: 'Press Start 2P', system-ui;
  font-weight: 400;
  font-style: normal;
  --ARF-color001: #363636;
  --ARF-color002: #ffff00;
  --ARF-color003: white;
  box-sizing: border-box;
}
body {
  background-color: var(--ARF-color001);
}
h1 {
  font-family: 'Nabla', system-ui;
  font-optical-sizing: auto;
  font-weight: 400;
  font-style: normal;
  font-variation-settings: 'EDPT' 100, 'EHLT' 12;
  font-size: 200px;
}

button {
  width: auto;
  height: 60px;
  background-color: var(--ARF-color002);
  color: var(--ARF-color001);
  font-family: 'Press Start 2P', system-ui;
  padding: 20px;
  border-radius: 10px;
  margin-top: 40px;
  cursor: pointer;
}

@media (max-width: 896px) {
  h1 {
    font-size: 150px;
  }
  button {
    font-size: 10px;
    height: 40px;
    padding: 15px;
  }
}
