.divNavGame {
  width: 100%;
  height: 100px;
  display: flex;
  align-items: center;
  justify-content: center;
  position: relative;
}
.divLogo {
  width: 250px;
  height: auto;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  align-self: left;
  position: absolute;
  left: 0px;
  cursor: pointer;
}
.divLogo > div > :first-child {
  font-family: 'Nabla', system-ui;
  font-optical-sizing: auto;
  font-weight: 400;
  font-style: normal;
  font-variation-settings: 'EDPT' 100, 'EHLT' 12;
  font-size: 60px;
}

.divLogo > :last-child {
  font-size: 10px;
  color: var(--ARF-color003);
}
.divNavGame > :last-child {
  width: calc(100% - 250px);
  height: 100%;
  position: absolute;
  right: 0;
  display: flex;
  justify-content: center;
  align-items: center;
  color: var(--ARF-color003);
}
.divNavGame > :last-child > p {
  font-size: 35px;
  text-align: center;
}

@media (max-width: 896px) {
  .divNavGame {
    height: auto;
  }
  .divLogo {
    width: 150px;
  }
  .divLogo > div > :first-child {
    font-size: 40px;
  }
  .divLogo > :last-child {
    font-size: 7px;
  }
  .divNavGame > :last-child {
    width: calc(100% - 150px);
  }
  .divNavGame > :last-child h2 {
    font-size: 15px;
  }
}
