.navBtn {
  width: auto;
  height: auto;
  background-color: var(--ARF-color002);
  color: var(--ARF-color001);
  font-family: 'Press Start 2P', system-ui;
  font-weight: 400;
  font-style: normal;
  padding: 20px;
  border-radius: 10px;
  cursor: pointer;
}

@media (max-width: 896px) {
  .navBtn {
    font-size: 14px;
  }
}
