.navBtn {
  width: auto;
  height: 60px;
  background-color: var(--ARF-color002);
  color: var(--ARF-color001);
  font-family: 'Press Start 2P', system-ui;
  padding: 20px;
  border-radius: 10px;
  margin: 10px;
  cursor: pointer;
}
